:root {
  --secondary: #D4A373;
  --accent: #FFB703;
  --neutralLight: #F8F5F0;
  --neutralDark: #333333;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
